.hero {
  padding: 0;
  margin-bottom: 0px;
}

.category_filters_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px auto;
  width: max-content;
}

.category_filters {
  width: 200px;
}

.posts_container {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
}

.post_preview {
  max-width: 300px;
}

.view_more_container {
  text-align: center;
  margin: 20px;
}

.loader_container {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 180px;
  height: 180px;
  margin: 80px auto;
  color: var(--light-color);
}

#all-categories {
  grid-column: span 2;
  justify-self: center;
}

#types-of-bug {
  color: var(--dark-color);
  background-color: var(--color-1);
}
#bugs-with-bugs {
  color: var(--light-color);
  background-color: var(--color-6);
}
#bug-history {
  color: var(--dark-color);
  background-color: var(--color-2);
}
#bugs-that-are-code {
  color: var(--light-color);
  background-color: var(--color-4);
}

.sort_container {
  text-align: left;
  margin: 30px 20px;
}


.sort_container select {
  height: 2rem;
  width: 120px;
  background-color: var(--color-5);
  color: var(--light-color);
  border: none;
  border-radius: 10px;
  padding: 5px;
}