.hero {
  padding: 0;
  margin-bottom: 0px;
}

.category_filters_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin: 20px auto;
}

.category_filter,
.category_filter_all {
  padding: 10px;
  font-family: var(--heading-font);
  font-size: 1rem;
  border-radius: 10px;
  transition: all 0.4s ease 0s;
  flex-grow: 1;
}

.category_filter:hover,
.category_filter_all:hover {
  transform: scale(1.1);
}

.posts_container {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
}

.post_preview {
  max-width: 300px;
}

.view_more_container {
  text-align: center;
  margin: 20px;
}

.loader_container {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 180px;
  height: 180px;
  margin: 80px auto;
  color: var(--light-color);
}

#all-categories {
  color: var(--light-color);
  background-color: var(--dark-color);
  justify-self: center;
}

#types-of-bug {
  color: var(--dark-color);
  background-color: var(--color-1);
}
#bugs-with-bugs {
  color: var(--light-color);
  background-color: var(--color-6);
}
#bug-history {
  color: var(--dark-color);
  background-color: var(--color-2);
}
#bugs-that-are-code {
  color: var(--light-color);
  background-color: var(--color-4);
}

.sort_container {
  padding: 5px;
}

.sort_container select {
  height: 2rem;
  width: 120px;
  background-color: var(--color-5);
  color: var(--light-color);
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
