@import "./imports/variables.css";

.blog_post_featured_image_container {
  width: 70%;
  max-height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 30px;
}

.blog_post_featured_image_container img {
  width: 100%;
  border-radius: 30px;
  margin: auto;
}

.blog_post {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.blog_post_date {
  font-size: 0.8rem;
  margin-top: 0;
}

.author_container {
  display: flex;
  align-items: center;
}

.author_info {
  display: flex;
  align-items: center;
}
.author_info p {
  margin: 0;
}

.author_img {
  height: 50px;
  width: 50px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.author_img img {
  width: 50px;
  height: 50px;
}

figure.wp-block-image.size-large,
figure.wp-block-image.size-full {
  width: 80%;
  height: auto;
  font-size: 0.8rem;
  overflow: hidden;
  object-fit: cover;
  margin: 30px auto;
  position: relative;
  text-align: center;
}

figure.wp-block-image.size-large img,
figure.wp-block-image.size-full img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  max-height: 70vh;
  border-radius: 30px;
  align-self: center;
  object-fit: cover;
}

figure.wp-block-image.size-large figcaption,
figure.wp-block-image.size-full figcaption {
  max-width: 800px;
  align-self: center;
  text-align: left;
}

.blog_post_content a {
  font-weight: 500;
  text-decoration: underline #000 dotted;
  color: var(--color-5);
}

.blog_post_content a:hover {
  font-weight: 700;
  text-decoration: underline;
}

figure.wp-block-image.size-large.full_screen_view,
figure.wp-block-image.size-full.full_screen_view,
.blog_post_featured_image_container.full_screen_view {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0px auto;
  background-color: var(--modal-color);
  padding: 10px;
  color: var(--light-color);
  font-size: 1rem;
  z-index: 100;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 0;
}

.blog_post_featured_image_container.full_screen_view img {
  width: 90%;
  max-width: 900px;
}

figure.wp-block-image.size-large.full_screen_view img,
figure.wp-block-image.size-full.full_screen_view img {
  width: auto;
}

.close_modal_button {
  background: url("../icons/close.svg") center / 44px 44px no-repeat;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 25%;
  right: 50px;
}

.close_modal_button:hover {
  transition: transform cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.2);
}

.comments .form_container {
  background-color: var(--light-color);
  box-shadow: none;
  max-width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.comments h3 {
  text-align: center;
  max-width: 90%;
}

.comments .form_container > .input_container {
  margin: 5px auto;
}

.comments_section {
  box-shadow: var(--shadow);
  padding: 5px;
  margin: 10px auto;
  width: 90%;
  max-width: 600px;
  border-radius: 20px;
  background-color: var(--light-color);
}

.comment {
  margin: 10px auto;
  padding: 10px;
  border-bottom: var(--color-4) 2px solid;
  width: 90%;
}

.author_date {
  display: flex;
  align-items: center;
}

.author_date h4 {
  margin-right: 1rem;
  font-size: 1rem;
}

.author_date p {
  font-size: 0.8rem;
}
