@import "./imports/variables.css";

.form_container {
  background-color: var(--color-3);
  max-width: 500px;
  margin: 0px auto 50px auto;
  padding: 50px 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  box-shadow: var(--shadow);
}

textarea {
  height: 200px;
}

.form_container > .input_container {
  width: 95%;
}

.form_container > .input_container > input,
.form_container > .input_container > textarea {
  width: 100%;
}

.input_container {
  display: inline-block;
  align-self: center;
}

.form_container > .input_container {
  margin: 10px auto;
}

button {
  align-self: center;
}

.form_error_message {
  display: none;
  color: var(--error-color);
  margin: 0px;
  font-size: 0.8rem;
  background-color: var(--light-color);
  padding: 5px;
}

.send-success {
  display: none;
  font-size: 2rem;
  border-radius: 20px;
  background-color: var(--color-1);
  color: var(--light-color);
  padding: 20px 40px;
  box-shadow: var(--shadow);
}
