@import "./imports/variables.css";

.form_container {
  background-color: var(--color-3);
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.input_container {
  display: inline-block;
  align-self: center;
}

.form_container > .input_container > * {
  margin: 25px auto;
}

.form_container > .input_container > input + label {
  bottom: 50%;
}
