@import "./imports/variables.css";

@media (min-width: 400px) {
  * {
    /* background-color: #03030307; */
  }
}

@media (min-width: 500px) {
  * {
    /* background-color: #30a17607; */
  }

  .menu_button {
    top: 10px;
  }

  /*blog post page*/
  .blog_post {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
  }

  /*Blog page*/

  .posts_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  * {
    /* background-color: #b80f0f0a; */
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .search_input_overlay {
    height: 50vh;
    width: 50vw;
    left: 25vw;
  }
  /*--------------Home page----------------*/
  .found_a_bug_container {
    grid-template-areas:
      "title title"
      "paragraph image"
      "button button";
  }
  /*--------------About page----------------*/

  .about_container {
    display: flow-root;
  }

  .about_container .image_container {
    float: right;
    border-radius: 30px;
    margin: 0px 10px 10px 10px;
    width: 300px;
    height: 100%;
  }
  /*--------------Contact page----------------*/

  .form_container {
    padding: 50px 30px;
  }

  .form_container > .input_container {
    width: 90%;
  }

  /*--------------Contact page----------------*/
  figure.wp-block-image.size-large.full_screen_view,
  figure.wp-block-image.size-full.full_screen_view {
    /* width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0 auto;
  background-color: var(--modal-color); */
    padding: 50px;
  }

  figure.wp-block-image.size-large,
  figure.wp-block-image.size-full {
    width: 70%;
  }

  /*Blog page*/
  .catagory_filters_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }

  #all-categories {
    grid-column: span 4;
  }
}

@media (min-width: 800px) {
  * {
    /* background-color: #dab12a15; */
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "space social pages";
    justify-content: space-between;
  }

  .social_media_container {
    align-self: center;
    grid-area: social;
  }

  footer ul {
    grid-area: pages;
    padding-right: 20px;
    text-align: right;
  }

  .social_media_icon:hover {
    filter: brightness(0.6) sepia(1) hue-rotate(170deg) saturate(6);
  }

  .desktop_nav ul {
    display: flex;
    padding: 5px;
    align-items: center;
  }

  .desktop_nav a {
    padding: 5px;
    margin: 0 5px;
  }

  .search_button {
    margin-left: 1rem;
    filter: brightness(100);
    cursor: pointer;
  }

  .search_button:hover {
    filter: brightness(5.2) sepia(1) hue-rotate(170deg) saturate(6);
  }
  .header_link_desktop {
    display: block;
    list-style-type: none;
    color: var(--light-color);
    font-family: var(--heading-font);
    font-size: 1.5rem;
  }

  .header_link_desktop:hover {
    color: var(--color-2);
  }

  .hero {
    padding-top: 100px;
  }

  textarea {
    width: 450px;
    height: 200px;
  }

  /*----Snail button----*/

  .cta {
    position: relative;
    display: inline-block;
    width: 160px;
    transition: all 2s ease-out;
  }

  .cta:hover {
    border-radius: 30px;
    transition: all 1s ease-out;
    background-color: var(--color-5);
  }
  .cta:active:hover {
    transition: none;
    color: var(--color-1);
    background-color: var(--light-color);
  }

  .cta::after {
    content: "";
    background: url("../icons/snail.svg") center / 70px 100px no-repeat;
    position: absolute;
    height: 30px;
    width: 70px;
    left: 10px;
    top: 0.4rem;
    z-index: -1;
    transition: all 1s ease-out;
  }

  .cta.blue_snail::after {
    filter: brightness(0.8) sepia(1) hue-rotate(170deg) saturate(6);
  }

  .cta:hover.cta::after {
    left: -42px;
    height: 65px;
    width: 250px;
    background: url("../icons/snail.svg") center / 250px 250px no-repeat;
    top: -16px;
  }

  /*--------------About page----------------*/
  .about_container {
    display: grid;
    float: none;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "text image"
      "text image";
  }

  .image_container {
    grid-area: image;
    border-radius: 0px 30px 30px 0px;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0px;
  }

  .random_post_cta_container {
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    z-index: 1;
  }

  /*--------------Contact page----------------*/
  .form_container > .input_container {
    width: 90%;
  }

  .form_container > .input_container > input,
  .form_container > .input_container > textarea {
    width: 100%;
  }

  /*Blog page*/
  .catagory_filters_container {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .posts_container {
    grid-template-columns: repeat(3, 1fr);
  }

  #all-categories {
    grid-column: span 2;
  }
}

@media (min-width: 1000px) {
  /*Blog page*/
  .catagory_filters_container {
    width: 95%;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  #all-categories {
    grid-column: span 4;
  }
}
